// notification Started --------------------
.notification{
    color: #fff;
    background-color: $success_message;
    position: fixed;
    width: pad;
    top: 50%;
    left: 50%;
    z-index:-1;
    @extend %transition;
    //visibility: hidden;
    opacity:0;
    transform: translate(-50%,0%);
    padding: 20px;
    border-radius: 5px;
    font-size: 25px;
    i{
        font-size: 40px;
        position: relative;
        margin-left: 10px;
    }
    p{
        display: inline;
        position: relative;
        top: -5px;
    }
}
.show-notify{
    transform:translate(-50%,-50%) !important;
    //visibility:visible;
    z-index:1000;
    opacity:1;
}
.notify-error{
    background-color: $error_message !important;
}